# Virtual environments
.venv
venv
/venv/
.env

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE configuration
.vscode/
.idea/

# Generated data and logs
/data/
/src/data/

# Trash/temporary scripts
/scripts/.trash*
